@font-face {
	font-family: Clip;
	src: url(Clip.ttf);
}
/* body {
	background: #262637;
	min-height: 100vh;
	display: grid;
	place-items: center;
	font-family: Oraqle Script;
} */

#name {
	position: absolute;
	top: 40%;
	left: 20%;

	/* animation: fill 1.5s ease forwards 6.5s; */
}

/* #name > g {
	animation: fill 1.5s ease forwards 6.5s;
} */

#name > g > .sign > path:nth-child(1) {
	stroke-dasharray: 335;
	stroke-dashoffset: 335;
	animation: line-anim 2s ease forwards;
}
#name > g > .sign > .fast-flicker > path {
	stroke-dasharray: 488;
	stroke-dashoffset: 488;
	animation: line-anim 2s ease forwards 0.5s;
}
#name > g > .sign > path:nth-child(3) {
	stroke-dasharray: 234;
	stroke-dashoffset: 234;
	animation: line-anim 2s ease forwards 1s;
}
#name > g > .sign > path:nth-child(4) {
	stroke-dasharray: 321;
	stroke-dashoffset: 321;
	animation: line-anim 2s ease forwards 1.5s;
}
#name > g > .sign > path:nth-child(5) {
	stroke-dasharray: 202;
	stroke-dashoffset: 202;
	animation: line-anim 2s ease forwards 2s;
}
#name > g > .sign > path:nth-child(6) {
	stroke-dasharray: 321;
	stroke-dashoffset: 321;
	animation: line-anim 2s ease forwards 2.5s;
}
#name > g > .sign > .flicker > path:nth-child(1) {
	stroke-dasharray: 488;
	stroke-dashoffset: 488;
	animation: line-anim 2s ease forwards 3s;
}
#name > g > .sign > .flicker > path:nth-child(2) {
	stroke-dasharray: 204;
	stroke-dashoffset: 204;
	animation: line-anim 2s ease forwards 3.5s;
}
#name > g > .sign > .flicker > path:nth-child(3) {
	stroke-dasharray: 292;
	stroke-dashoffset: 292;
	animation: line-anim 2s ease forwards 4s;
}
#name > g > .sign > .flicker > path:nth-child(4) {
	stroke-dasharray: 330;
	stroke-dashoffset: 330;
	animation: line-anim 2s ease forwards 4.5s;
}
#name > g > .sign > path:nth-child(8) {
	stroke-dasharray: 467;
	stroke-dashoffset: 467;
	animation: line-anim 2s ease forwards 5s;
}
#name > g > .sign > path:nth-child(9) {
	stroke-dasharray: 253;
	stroke-dashoffset: 253;
	animation: line-anim 2s ease forwards 5.5s;
}
#name > g > .sign > path:nth-child(10) {
	stroke-dasharray: 292;
	stroke-dashoffset: 292;
	animation: line-anim 2s ease forwards 6s;
}
#name > g > .sign > .flicker2 > path:nth-child(1) {
	stroke-dasharray: 312;
	stroke-dashoffset: 312;
	animation: line-anim 2s ease forwards 6.5s;
}
#name > g > .sign > .flicker2 > path:nth-child(2) {
	stroke-dasharray: 204;
	stroke-dashoffset: 204;
	animation: line-anim 2s ease forwards 7s;
}
#name > g > .sign > .flicker2 > path:nth-child(3) {
	stroke-dasharray: 412;
	stroke-dashoffset: 412;
	animation: line-anim 2s ease forwards 7.5s;
}
#name > g > .sign > path:nth-child(12) {
	stroke-dasharray: 356;
	stroke-dashoffset: 356;
	animation: line-anim 2s ease forwards 8s;
}
#name > g > .sign > path:nth-child(13) {
	stroke-dasharray: 253;
	stroke-dashoffset: 253;
	animation: line-anim 2s ease forwards 8.5s;
}
#name > g > .sign > path:nth-child(14) {
	stroke-dasharray: 292;
	stroke-dashoffset: 292;
	animation: line-anim 2s ease forwards 9s;
}
@keyframes line-anim {
	to {
		stroke-dasharray: 0;
	}
}

@keyframes fill {
	0% {
		fill: transparent;
	}
	100% {
		fill: #dfb0d9;
		stroke: none !important;
	}
}

body {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

#name > g > .sign {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 60%;
  height: 50%; */
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  letter-spacing: 1;
  left: 50%;
  top: 70%;
  font-family: clip;
  font-size: 4em;
  color: #ffe6ff;
  /* animation: shine 2s forwards, flicker 3s infinite; */
}
.shadow {
  filter:  0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}

/* @keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker, .flicker2 {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
} */
/* 
@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
} */
